<p id="notice"><%= notice %></p>

<p>
  <strong>Emailcliente:</strong>
  <%= @campos_extra.emailCliente %>
</p>

<p>
  <strong>Nomecampo:</strong>
  <%= @campos_extra.nomeCampo %>
</p>

<p>
  <strong>Tipocampo:</strong>
  <%= @campos_extra.tipoCampo %>
</p>

<p>
  <strong>Valorcampo:</strong>
  <%= @campos_extra.valorCampo %>
</p>

<p>
  <strong>Itenscombox:</strong>
  <%= @campos_extra.itensCombox %>
</p>

<p>
  <strong>Itemselcombobox:</strong>
  <%= @campos_extra.itemselCombobox %>
</p>

<%= link_to 'Edit', edit_campos_extra_path(@campos_extra) %> |
<%= link_to 'Back', campos_extras_path %>
