<p id="notice"><%= notice %></p>

<h1>Lista de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
	  <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
		<td><%= usuario.email %></td>
        <td ><%= link_to 'Exibir', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
		<td><%= link_to 'Deletar', usuario, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Novo Usuario', new_usuario_path %>
