<!DOCTYPE html>
<html>
<head>
  <title>.::Teste RD - Ivan Amorim::.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>.::Menu::.</h2>
<%= link_to 'Inicio', welcome_index_path%>

<%= link_to 'Lista de Usuarios RD', usuarios_path %>

<% if usuario_signed_in? %>

	<%= link_to 'Clientes de '+current_usuario.email, clientes_path %>
	
	<%= link_to current_usuario.email, edit_usuario_registration_path %>
	
	<%= link_to 'Sair', destroy_usuario_session_path, method: :delete %>

<% else %>

	<%= link_to 'Cadastrar Novo Usuário RD', new_usuario_registration_path %>

	<%= link_to 'Logar', new_usuario_session_path %>

<% end %>

<br><br>
 <p class="notice">
	<%= notice %>
 </p>
 <p class="alert">
	<%= alert %></p>
<br>
 <fieldset>
    <legend></legend>
<%= yield %>
<br><br>
</fieldset>

</body>
</html>
